/*
Theme Name: Mon thème
Theme URI: https://www.monsite.com/monsite
Author: [renseignez ici votre nom]
Author URI: https://www.monsite.com/monsite
Description: [décrivez ici votre thème en quelques mots]
Version: 1.0
*/
body {
    background: #ffffff;
    font-family: "Source Sans Pro";
    color: #000000;
    margin: 0 auto;
    text-align: center;
  }
.items-inner{
  column-count: 2;
}
.letter-section {
  margin-top: -20px !important;
  white-space: initial;
}
.letter-title{
  border: #000000 solid 1px;
}
ul.az-links{
  display: none;
}
.back-to-top a {
  display: none;
}
.grid-single{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
}
.one{
  grid-column: 1 / 1;
  grid-row: 1;
  width:750px;
  height: auto;
}
.two {
  grid-column: 2 / 2;
  grid-row: 1 / 3;
  width:450px;
  height: auto;
}
.mange{
  display: flex;
  flex-direction: column;
}

